// %%%%%%%%%%%%%%%%%%%%%%%%%
// blog header styles start
// %%%%%%%%%%%%%%%%%%%%%%%%%
.blog header {
    background-image: url("../assets/blog-header.jpg");
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
}
.blog ul {
    display: flex;
    margin: 0;
    height: 10vh;
    align-items: flex-end;
    padding: 0;
}
.blog ul i {
    visibility: hidden;
    position: absolute;
}
.blog li {
    list-style: none;
}
.blog a {
    color: $white;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 2rem;
    margin: 0 5px;
}
.blog a:hover,
.blog a:focus{
    border-bottom: $secondary 3px solid;
}
.blog h1 {
    font-size: 7.5rem;
    color: $white;
    width: 40%;
    padding-top: 150px;
}
// %%%%%%%%%%%%%%%%%%%%%%%%%
// blog header styles end
// %%%%%%%%%%%%%%%%%%%%%%%%%
// ----------------------------------------------------------------
// %%%%%%%%%%%%%%%%%%%%%%%%%
// blog main styles start
// %%%%%%%%%%%%%%%%%%%%%%%%%

.blog main {
    display: flex;
    // column reverse for mobile view media inquery
    background-color: $background;
}
.blog main .nextDestinationSection {
    border-bottom: 4px solid $secondary;
    position: absolute;
    top: -200px;
}
.blog main .blogMainContent {
    width: 65%;
    position: relative;
}
.blog main .nextDestinationSection img {
    position: relative;
    width: 600px;
    box-shadow: -20px 20px 1px $secondary;
    width: calc(100% - 20px);
    right: -2%;
}
.blog main .nextDestinationSection div {
    border-left: 4px solid $secondary;
    padding: 9%;
    padding-top: 5%;
}
// -------------------------------------------
// blog comment section 
// ------------------------------------------
.blog main .blogComents {
    padding: 6%;
    margin-top: 1190px;
}
.blog main .blogComents .blogCommentEntry {
    display: flex;
    margin-bottom: 80px;
}
.blog main .blogComents .blogCommentEntry h4 {
    color: $primary;
    margin-top: 0;
}
.blog main .blogComents img {
    width: 100px;
    height: 100px;
    margin-right: 2vw;
}
// blog main form styles 
// ---------------------------------------------
.blog main form {
    width: 60vw;
    height: 60vh;
    margin: 0 auto;
    margin-bottom: 50px;
}
.blog main form .blogName,
.blog main form .blogEmail {
    background-color: $background;
    border:none;
    border-bottom: 2px solid $secondary;
    padding: 10px;
    width: 45%;
    height: 40px;
    margin-bottom: 20px;
    color: $primary;
}
.blog main form .blogEmail {
    margin-left: 5%;
}
.blog main form .blogComment {
    width: 100%;
    background-color: $background;
    border: 2px solid $secondary;
    height: 220px;
    padding: 5px;
    margin-bottom: 20px;
    color: $primary;
    resize: none;
}
.blog main form input::placeholder,
.blog main form textarea::placeholder {
    color: $primary;
    opacity: 100%;
    text-transform: capitalize;
}
.blog main form button {
    width: 100%;
    text-align: center;
    background-color: $primary;
    color: $secondary;
    text-transform: uppercase;
    font-family: 'IM Fell English', serif;
    border: none;
    padding: 5px 0;
}
.blog main form .blogName:hover,
.blog main form .blogName:focus,
.blog main form .blogEmail:hover,
.blog main form .blogEmail:focus,
.blog main form .blogComment:hover,
.blog main form .blogComment:focus {
    background-color: $secondary;
}
.blog main form button:hover,
.blog main form button:focus {
    background-color: $secondary;
    color: $primary;
}
// --------------------------------
// --------------------------------
// --------------------------------
// --------------------------------
// aside section styles
.blog main aside {
    width: 35%;
    position: relative;
}
.blog main .asideContent {
    background-color: $primary;
    color: $white;
    width: 55%;
    padding: 5%;
    padding-top: 300px;
    position: relative;
    top: 110px;
    left: 10%;
    padding-bottom: 8%;
}
.blog main .asideContent h3 {
    color: $secondary;
    margin-bottom: 10px;
    margin-top: 20px;
}
.blog main aside img{
    width: 60%;
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 1;
    height: 300px;
}
.blog main .asideContent ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
}
.blog main .asideContent ul li {
    list-style: disc;
    margin:1px 0;
}
// aside section styles end
// --------------------------
// %%%%%%%%%%%%%%%%%%%%%%%%%
// blog main styles end
// %%%%%%%%%%%%%%%%%%%%%%%%%
// %%%%%%%%%%%%%%%%%%%%%%%%%
// blog footer styles start
// %%%%%%%%%%%%%%%%%%%%%%%%%
// ----------------------------------------------------------------
.blog footer {
    background-color: $secondary;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.blog footer p,
.blog footer a {
    color: $primary;
}
.blog footer a {
    font-size: 1.8rem;
    margin-left: 0;
    padding-left: 0;
    margin-right: 5vw;
    text-decoration: none;
}
.blog footer a:hover {
    color: $background;
}
.blog footer a:focus {
    border: 1px solid $primary;
}
.blog footer p {
    text-transform: capitalize;
}

// %%%%%%%%%%%%%%%%%%%%%%%%%
// blog footer styles end
// %%%%%%%%%%%%%%%%%%%%%%%%%
// ----------------------------------------------------------------
// ----------------------------------------------------------------
// %%%%%%%%%%%%%%%%%%%%%%%%%
// blog media queries
// %%%%%%%%%%%%%%%%%%%%%%%%%
@media (max-width:1300px) {
    // widen aside section to prevent content compression
    .blog main .asideContent {
        width: 85%;       
        padding-bottom: 100px;
    }   
    .blog main aside img{
        width: 90%;
    }
}
@media (max-width:1000px) {
    .blog main .nextDestinationSection img {
        height: 450px;
    }
}
@media (max-width:900px) {
    .blog main {
        display: flex;
        flex-direction: column-reverse;
        // column reverse for mobile view media inquery
    }
    .blog main .blogMainContent {
        width: 100%;
        position: relative;
    }
    .blog main .nextDestinationSection img {
        position: static;
        top: 0;
        width: 100%;
        height: auto;
        box-shadow: none;
        border-bottom: 30px solid $secondary;
        border-left: none;
    }
    .blog main .nextDestinationSection {
        border: none;
        position: static;
    }
    .blog main .nextDestinationSection div {
        border-left: none;
    }
    .blog main aside img{
        position: static;
    }
    .blog main aside {
        width: 100%;
        position: static;
    }
    .blog main aside .asideContent {
        width: 100%;
        position: static;
        padding-top: 50px;
        padding-bottom: 40px;;
    }
    .blog main aside img {
        width: 80%;
        position: static;
        display: block;
        margin: 0 auto;
        height: auto;
    }
    .blog main .blogComents {
        padding: 6%;
        padding-top:0;
        margin-top: 0;
    }
    .blog main form {
        width: 100%;
        height: 300px;
    }
}
@media (max-width:550px) {
    // adjusting form input sizes to stack
    .blog main form .blogName,
    .blog main form .blogEmail {
        width: 100%;
    }
    .blog main form .blogEmail {
        margin-left: 0;
    }
    .blog main form {
        height: 350px;
    }
    // header styles, centering menu, adjusting height, etc
    .blog header {
        height: 60vh;
    }
    .blog ul {
        display: flex;
        justify-content: center;
    }
    .blog h1 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-top: 100px;
    }
    .blog a {
        font-size: 1.7rem;
        margin: 0;
    }
    // adjust image width to fit down to 320px
    .blog main aside img {
        width: 100%;
        height: auto;
        margin: 0;
    }
    // stack text as screensize gets smaller for comments
    .blog main .blogComents h2 {
        margin-bottom: 38px;
        text-align: center;
    }
    .blog main .blogComents .blogCommentEntry {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }
    .blog main .blogComents .blogCommentEntry img {
        margin-bottom: 20px;
    }
}
@media (max-width:500px) {
    .blog footer {
        flex-direction: column;
    }
    .blog footer p {
        margin: 7px auto;
        text-align: center;
    }
    .blog footer p,
    .blog footer a {
        font-size: 1.6rem;
    }
}