
// %%%%%%%%%%%%%%%%%%%%%%%%%
// contact header styles start
// %%%%%%%%%%%%%%%%%%%%%%%%%
.contact header {
    background-image: url("../assets/contact-header.jpg");
    height: 75vh;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.contact header ul {
    display: flex;
    margin: 0;
    height: 10vh;
    align-items: flex-end;
    padding: 0;
}
.contact header ul i {
    visibility: hidden;
    position: absolute;
}
.contact header li {
    list-style: none;
}
.contact header a {
    color: $white;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 2rem;
    margin: 0 5px;
}
.contact header a:hover,
.contact header a:focus{
    border-bottom: $secondary 3px solid;
}
.contact h1 {
    font-size: 7.5rem;
    color: $white;
    padding-top: 80px;
}
// %%%%%%%%%%%%%%%%%%%%%%%%%
// contact header styles end
// %%%%%%%%%%%%%%%%%%%%%%%%%
// ----------------------------------------------------------------
// %%%%%%%%%%%%%%%%%%%%%%%%%
// contact Main styles start
// %%%%%%%%%%%%%%%%%%%%%%%%%

.contact main {
    background-color: $background;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
}
// for styles
.contact main form {
    background-color: $primary;
    width: 50vw;
    height: 60vh;
    position: relative;
    top: -220px;
    right: 6vw;
    box-shadow: 15px 15px 1px $secondary;
    padding: 6%;
    display: flex;
    flex-wrap: wrap;
}
// form elements styles 
.contact main form .name,
.contact main form .email {
    background-color: $primary;
    box-shadow: none;
    border:none;
    border-bottom: 2px solid $secondary;
    padding: 10px;
    width: 45%;
    height: 40px;
    margin-bottom: 20px;
    color: $white;
}
.contact main form input:hover,
.contact main form input:focus {
    border: 2px solid $secondary; 
    padding: 8px 8px 10px 8px;
}
.contact main form input::placeholder {
    color: $white;
    opacity: 100%;
    text-transform: capitalize;
}
.contact main form textarea::placeholder {
    color: $white;
    opacity: 100%;
    text-transform: capitalize;
}
.contact main form .email {
    margin-left: 10%;
}
.contact main form .text {
    width: 100%;
    background-color: $primary;
    border: 2px solid $secondary;
    height: 220px;
    padding: 5px;
    margin-bottom: 20px;
    color: $white;
    resize: none;
}
.contact main form button {
    width: 100%;
    text-align: center;
    background-color: $secondary;
    color: $primary;
    text-transform: uppercase;
    font-family: 'IM Fell English', serif;
    border: none;
    padding: 5px 0;
}
.contact main form button:hover,
.contact main form button:focus {
    background-color: darken($color: $secondary, $amount: 11);
    color: $background;
}
.contact main form button:active {
    transform: scale(1.03);
    transition: 0.3s;
}
// ----------------------------------------
// ----------------------------------------
// ----------------------------------------
// secondary content, links and info section
.contact .contactMainInfo {
    padding-left: calc(10vw - 10px);
    color: $primary;
    text-transform: capitalize;
}
.contact .contactMainInfo ul {
    display: flex;
    padding: 0;
    margin-top: 110px;
}
.contact .contactMainInfo li {
    list-style: none;
}
.contact .contactMainInfo a {
    color:$primary;
    padding: 8px 8px;
    font-size: 2.5rem;
    margin: 0 5px;
}
.contact .contactMainInfo a:hover,
.contact .contactMainInfo a:focus {
    background-color: $secondary;
    border-radius: 30%;
}
.contact .contactMainInfo p {
    padding-left: 10px;
}
.contact .contactMainInfo .infoEmail {
    margin-bottom: 30px;
    margin-top: 20px;
}
.contact .contactMainInfo p {
    margin: 5px 0;
} 
// ----------------------------------------------------------------
// %%%%%%%%%%%%%%%%%%%%%%%%%
// contact Main styles end
// %%%%%%%%%%%%%%%%%%%%%%%%%
// ----------------------------------------------------------------
// %%%%%%%%%%%%%%%%%%%%%%%%%
// contact footer styles start
// %%%%%%%%%%%%%%%%%%%%%%%%%
// ----------------------------------------------------------------
.contact footer {
    background-color: $secondary;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.contact footer p,
.contact footer a {
    color: $primary;
}
.contact footer a {
    font-size: 1.8rem;
    margin-left: 0;
    padding-left: 0;
    margin-right: 5vw;
    text-decoration: none;
}
.contact footer a:hover {
    color: $background;
}
.contact footer a:focus {
    border: 1px solid $primary;
}
.contact footer p {
    text-transform: capitalize;
}
// %%%%%%%%%%%%%%%%%%%%%%%%%
// contact footer styles end
// %%%%%%%%%%%%%%%%%%%%%%%%%
// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------
// %%%%%%%%%%%%%%%%%%%%%%%%%
// Media queries
// %%%%%%%%%%%%%%%%%%%%%%%%%
// form sizing changes
@media (max-width:1000px ) {
    .contact main form {
        width: 60vw;
    }
    .contact .contactMainInfo {
        padding-top: 120px;
    }
}
// form styles and sizing changes 
@media (max-width:800px) {
    .contact main {
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .contact main form {
        width: 90vw;
        height: 60vh;
        position: absolute;
        top: -220px;
        left: 2vw;
        box-shadow: 15px 15px 1px $secondary;
        padding: 6%;
    }
    .contact .contactMainInfo ul {
        margin-top: 180px;
    }
    .contact h1 {
        font-size: 7rem;
        padding-top: 40px;
    }
    .contact main form .name,
    .contact main form .email {
        padding: 10px;
        width: 90%;
        height: 40px;
        margin-bottom: 20px;
        margin: 0 auto;    
    }
    .contact main form .email {
        margin: 10px auto 20px auto;
    }
    .contact main .contactMainInfo {
        margin-bottom: 20px;
    }
}
//for adjusting footer items to stack on smaller screens
@media (max-width:500px) {
    .contact footer {
        flex-direction: column;
    }
    .contact footer p {
        margin: 7px auto;
        text-align: center;
    }
    .contact footer p,
    .contact footer a {
        font-size: 1.6rem;
    }
}
// adjusting header styles for breathing room and break points on smaller screens
@media (max-width:400px) {
    .contact main .formContact {
        box-shadow:none;
    }
    .contact h1 {
        font-size: 6rem;
        padding-top: 20px;
    }
    .contact header a {
        font-size: 1.7rem;
        margin: 0 1px;
    }
}