// %%%%%%%%%%%%%%%%%%%%%%%%%
// main header styles start
// %%%%%%%%%%%%%%%%%%%%%%%%%
.main header {
    background-image: url("../assets/home-header.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.main ul {
    display: flex;
    margin: 0;
    height: 15vh;
    align-items: flex-end;
    padding: 0;
}
.main ul i {
    visibility: hidden;
    position: absolute;
}
.main li {
    list-style: none;
}
.main a {
    color: $white;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 2rem;
    margin: 0 5px;
}
.main a:hover,
.main a:focus{
    border-bottom: $secondary 3px solid;
}
.main h1 {
    font-size: 7.5rem;
    color: $secondary;
    width: 40vw;
    padding-top: 300px;
}
// %%%%%%%%%%%%%%%%%%%%%%%%%
// main header styles end
// %%%%%%%%%%%%%%%%%%%%%%%%%

// %%%%%%%%%%%%%%%%%%%%%%%%%
// main Main styles start
// %%%%%%%%%%%%%%%%%%%%%%%%%

.main .mainGridOne {
    background-color: $background;
    position: relative;
}
.main .mainGridOne img {
    position: absolute;
    right: 0;
    bottom: 550px;
    width: 60vw;
}
// grid layout in first main section
// ---------------------------------
// ---------------------------------
.main .mainGridOneFlex {
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-bottom: 80px;
}
.main .mainGridOne .gridFirstDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding:3% 0;
}
.main .mainGridOne .gridFirstDiv p {
    margin-left: 10%;
    margin-top: 0;
}
.main .mainGridOne .gridSecindDiv {
    display: flex;
    align-items: center;
}
.main .mainGridOne .gridSecindDiv h3 {
    margin: 0;
    padding-left: 15px;
    font-size: 2.8rem;
}
.main .mainGridOne .gridSecindDiv i {
    width: 45px;
    height: 45px;
    font-size: 2.8rem;
    background-color: $secondary;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.main .mainGridOne .gridSecindDiv i:hover,
.main .mainGridOne .gridSecindDiv i:focus {
    background-color: $primary;
    color: $secondary;
}
.main main .mainGridOne .gridSecindDiv a {
    background-color: none;
    opacity: 0;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
// first grid section end
// ---------------------------------------
// ---------------------------------------
// second grid section start
.main .mainGridTwo {
    background-color: $primary;
    display: flex;
    flex-wrap: wrap;
    color: $white;
}
.main .mainGridTwo .gridTwoFlexChild {
    width: 45%;
}
.main .mainGridTwo .mainGridTwoImg2 {
    order: 1;
    margin-left: 10%;
    box-shadow: -20px 20px 1px $secondary;
    position: relative;
    bottom: -40px;
}
.main .mainGridTwo .mainGridTwoImg1 {
    margin-right: 10%;
    box-shadow: 20px 20px 1px $secondary;
    position: relative;
    top: -40px;
}
.main .mainGridTwo h2 {
    color: $white
}
.main .mainGridTwo .mainGridTwoText1,
.main .mainGridTwo .mainGridTwoText2 {
    padding: 5% 0;
    padding-left: 10%;
    text-align: right;
}
.main .mainGridTwo .mainGridTwoText1 {
    padding-right: 10%;
    padding-left: 0;
    text-align: left;
}
.main .mainGridTwo .mainGridTwoText1 a:hover,
.main .mainGridTwo .mainGridTwoText2 a:hover,
.main .mainGridTwo .mainGridTwoText1 a:focus,
.main .mainGridTwo .mainGridTwoText2 a:focus {
    background-color: $background;
    // restate color to cancel out global hover styles
    color: $primary;
}
// second grid section end
// ---------------------------------------
// ---------------------------------------
// main "extra vacation days" section start
.main .extraVacSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    background-color: $background;
    padding-top: 110px;
}
.main .extraVacSection img{
    width: 100%;
}
.main main .extraVacSection a {
    margin: 0  auto;
    margin-top: 30px;
    margin-bottom: 110px;
}
.main main .extraVacSection p {
    width: 70%;
    margin: 0 auto;
    text-align: left;
}
// main "extra vacation days" section end
// ---------------------------------------
// main "win trip of a lifetime" section start
.main main .tripOfLife {
    background-color: $background;
    padding: 120px 0;
}
.main main .tripOfLifeSection {
    display: flex;
}
.main main .tripOfLifeSection img {
    width: 25%;
    box-shadow: -20px 20px 1px $secondary;
}
.main main .tripOfLifeSection div {
    width: 70%;
    padding-left: 5%;
    position: relative;
}
.main main .tripOfLifeSection div a {
    margin-top: 30px;
}
.main main .tripOfLifeSection div h2 {
    margin-top: 0;
}
.main main .tripOfLifeSection div p {
    margin-bottom: 20px;
}
// main "win trip of a lifetime" section end
// ---------------------------------------
// main img gallery section start
.main .mainImgGal {
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    padding: 6% 0;
}
.main .mainImgGal img {
    width: 30%;
    margin: 0 1%;
}
// main img gallery section end
// ---------------------------------------
// %%%%%%%%%%%%%%%%%%%%%%%%%
// main Main styles end
// %%%%%%%%%%%%%%%%%%%%%%%%%
// ---------------------------------------
// %%%%%%%%%%%%%%%%%%%%%%%%%
// main footer styles start
// %%%%%%%%%%%%%%%%%%%%%%%%%
// ----------------------------------------------------------------
.main footer {
    background-color: $secondary;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.main footer p,
.main footer a {
    color: $primary;
}
.main footer a {
    font-size: 1.8rem;
    margin-left: 0;
    padding-left: 0;
    margin-right: 5vw;
    text-decoration: none;
}
.main footer a:hover {
    color: $background;
}
.main footer a:focus {
    border: 1px solid $primary;
}
.main footer p {
    text-transform: capitalize;
}
// %%%%%%%%%%%%%%%%%%%%%%%%%
// main footer styles end
// %%%%%%%%%%%%%%%%%%%%%%%%%
// ----------------------------------------------------------------
// ----------------------------------------------------------------
// %%%%%%%%%%%%%%%%%%%%%%%%%
// media queries
// %%%%%%%%%%%%%%%%%%%%%%%%%
// to stop header img and h1 from overlapping
@media (max-width:1350px){
    .main .mainGridOne img {
        width: 55vw;
        bottom: 500px;
    }
    .main h1 {
        font-size: 7rem;
        padding-top: 180px;
    }
}
// to stop header img and h1 from overlapping
@media (max-width:1175px) {
    .main .mainGridOne img {
        bottom: 550px;
    }
    .main h1 {
        font-size: 6rem;
        padding-top: 110px;
    }
}
// change header img postion and center it, from desktop into tablet view into mobile
@media (max-width:950px) {
    .main .mainGridOne .gridFirstDiv {
        width: 90%;
        padding:5% 0;
    }
    .main header {
        height: 70vh;
    }
    .main .mainGridOne img {
        position: relative;
        display: block;
        margin: 0 auto;
        top: -50px;
        width: 70vw;
    }
    .main .mainGridOneFlex {
        padding-top: 0px;
    }
    .main h1 {
        font-size: 5rem;
        padding-top: 150px;
        width: 100%;
    }
}
// trip of a lifetime section change flex direction to stack
@media (max-width:900px) {
    .main main .tripOfLifeSection {
        flex-direction: column;
        align-items: center;
    }
    .main main .tripOfLifeSection img {
        width: 50%;
        margin: 0 auto 50px auto;
    }
    .main main .tripOfLifeSection div {
        width: 80%;
        padding-left: 5%;
    }
    .main main .tripOfLifeSection div a {
        width: 20%;
        padding: 10px 6%;
        margin-top: 50px ;
    }
}
// media queries for grid two section
@media (max-width: 850px) {
    .main .mainGridTwo {
        flex-direction: column;
    }
    .main .mainGridTwo .gridTwoFlexChild {
        width: 90%;
    }
    .main .mainGridTwo .mainGridTwoImg1 {
        position: static;
    }
    .main .mainGridTwo .mainGridTwoImg2 {
        order: 0;
        position: static;
    }
    .main .mainGridTwo .mainGridTwoText1,
    .main .mainGridTwo .mainGridTwoText2 {
        text-align: right;
        padding-top: 9%;
        padding-bottom: 9%;
    }
    .main .mainGridTwo .mainGridTwoText1 {
        padding-right: auto;
        padding-left: 10%;
        text-align: left;
    }
}
// media for gallery to be responsive
@media (max-width:700px) {
    .main .mainImgGal img  {
        width: 60vw;
        margin: 0 calc(20vw - 10%);
    }
    .main .mainImgGal {
        padding: 11% 0;
    }
    .main .mainImgGal .imgGalimg2 {
        margin: 20px calc(20vw - 10%);
    }
}
@media (max-width:550px) {
    .main main .tripOfLifeSection img {
        width: 70%;
    }
}
// main footer media query to stack
// +
// header adjustment for img, h1, and first main section headers
@media (max-width:500px) {
    // footer section
    .main footer {
        flex-direction: column;
    }
    .main footer p {
        margin: 7px auto;
        text-align: center;
    }
    .main footer p,
    .main footer a {
        font-size: 1.6rem;
    }
    // header/top main section
    .main .mainGridOne img {
        width: 90vw;
    }
    .main h1 {
        font-size: 3.7rem;
        padding-top: 110px;
    }
    .main header a {
        font-size: 1.7rem;
        margin: 0 1px;
    }
    .main .mainGridOne .gridSecindDiv h3 {
        font-size: 2.2rem;
        margin-bottom: 5px;
    }
    .main .mainGridOne .gridFirstDiv p {
        margin-left: 17%;
        font-size: 1.6rem;
    }
}

